{% extends 'paginas/teste.html' %}


{% load static%}


{% block content %} 

    <!-- SECCION SABORES -->
    <section id="sabores">
        <h2>Sabores</h2>
        <div class="fila">
            <div class="item">
                <div class="icono">
                    <img src="{% static "img/sabor1.png" %}" alt="">
                </div>
                <div class="info">
                    <h3>Saladas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="item">
                <div class="icono">
                    <img src="{% static "img/sabor2.png" %}" alt="">
                </div>
                <div class="info">
                    <h3>Doces</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="item">
                <div class="icono">
                    <img src="{% static "img/sabor3.png" %}" alt="">
                </div>
                <div class="info">
                    <h3>Hamburguers, nossa especialidade da casa</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="fila">
            <div class="item">
                <div class="icono">
                    <img src="{% static "img/sabor4.png" %}" alt="">
                </div>
                <div class="info">
                    <h3>Sorvetes</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="item">
                <div class="icono">
                    <img src="{% static "img/sabor5.png" %}" alt="">
                </div>
                <div class="info">
                    <h3>Macarrões</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="item">
                <div class="icono">
                    <img src="{% static "img/sabor6.png" %}" alt="">
                </div>
                <div class="info">
                    <h3>Biscoitos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <button>Ver Más</button>

    </section>
 {%endblock%}